<%= form_for ([@podcast, @episode]) do |f| %>

<!--
  TODO: Add validation error messages
  See http://guides.rubyonrails.org/active_record_validations.html#working-with-validation-errors
-->

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>

<div class="field">
  <%= f.label :episode_thumbnail %><br>
  <%= f.file_field :episode_thumbnail %>
</div>

<div class="field">
  <%= f.label :mp3 %><br>
  <%= f.file_field :mp3 %>
</div>

<!-- TODO: Styling -->

<strong>Or...</strong>

<div class="field">
  <%= f.label :youtube_url %><br>
  <%= f.text_field :youtube_url %>
</div>

<%= f.submit class: "button button_block button button_highlight" %>
<% end %>
