<div id="banner" class="sign_in_banner">
  <h1>Your <span>Music</span> is still here!</h1>
</div>

<div id="form">
  <div class="wrapper_skinny">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "button button_highlight button_block" %>
  </div>
<% end %>


<!-- <div style="position:absolute;bottom:0;" class="col-sm-4">
  <p style="font-family: Courier, monospace;font-size:15px;font-weight:700;">Unsplash</p>
<p style="color: #999999;font-size:13px;font-weight:400;">Free (do whatever you want) high-resolution photos.<br>10 new photos every 10 days.
<br><br>A project by Etore's podcast.</p>

</div> -->


</div>


</div>


